# import packages

In [20]:
import pandas as pd

# import data

In [21]:
# Import the df_products table
df_products = pd.read_csv('../../1_input/products.csv')

# Import the df_orderdetails table
df_orderdetails = pd.read_csv('../../1_input/orderdetails.csv')

# Import the df_orders table
df_orders = pd.read_csv('../../1_input/orders.csv')

# check data

In [22]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   productCode         110 non-null    object
 1   productName         110 non-null    object
 2   productLine         110 non-null    object
 3   productScale        110 non-null    object
 4   productVendor       110 non-null    object
 5   productDescription  110 non-null    object
 6   quantityInStock     110 non-null    int64
 7   buyPrice            110 non-null    float64
 8   MSRP                110 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 7.9+ KB

In [23]:
df_orderdetails.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   orderNumber      1000 non-null   int64
 1   productCode      1000 non-null   object
 2   quantityOrdered  1000 non-null   int64
 3   priceEach        1000 non-null   float64
 4   orderLineNumber  1000 non-null   int64
dtypes: float64(1), int64(3), object(1)
memory usage: 39.2+ KB

In [24]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orderNumber     326 non-null    int64
 1   orderDate       326 non-null    object
 2   requiredDate    326 non-null    object
 3   shippedDate     312 non-null    object
 4   status          326 non-null    object
 5   comments        80 non-null     object
 6   customerNumber  326 non-null    int64
dtypes: int64(2), object(5)
memory usage: 18.0+ KB

# Process Order Date

In [25]:
def add_order_date_columns(df_orders):
    # Convert 'shippedDate' column to datetime format
    df_orders['orderDate'] = pd.to_datetime(df_orders['orderDate'])
    
    # Extract year, month, and quarter from 'shippedDate'
    df_orders['order_year'] = df_orders['orderDate'].dt.year
    df_orders['order_month'] = df_orders['orderDate'].dt.month
    df_orders['order_qtr'] = df_orders['orderDate'].dt.to_period('Q')
    
    # Create 'order_year_month' column
    df_orders['order_year_month'] = df_orders['orderDate'].dt.to_period('M')
    
    # Create 'order_year_qtr' column
    df_orders['order_year_qtr'] = df_orders['orderDate'].dt.to_period('Q')

    return df_orders

In [26]:
# Execute:
df_orders = add_order_date_columns(df_orders)

# Join Orders with Orderdetails

In [27]:
# Join df_orderdetails with df_orders on 'orderNumber'
def join_order_details(df_orderdetails, df_orders):
    # Add order date columns to df_orders
    df_orders = add_order_date_columns(df_orders)
    
    # Merge df_orderdetails with df_orders on 'orderNumber'
    df_combined = pd.merge(df_orderdetails, df_orders, on='orderNumber')
    
    return df_combined

In [28]:
df_combined = join_order_details(df_orderdetails, df_orders)

# Create Summary

In [29]:
# Calculate revenue for each order
df_combined['revenue'] = df_combined['quantityOrdered'] * df_combined['priceEach']

# Group by year quarter and sum the revenue
revenue_by_year_qtr = df_combined.groupby('order_year_qtr')['revenue'].sum()

# Print the result
print(revenue_by_year_qtr)

order_year_qtr
2003Q1     405613.55
2003Q2     515754.91
2003Q3     616895.32
2003Q4    1598482.93
Freq: Q-DEC, Name: revenue, dtype: float64

In [30]:
# Group by year quarter and sum the revenue
revenue_by_year_month = df_combined.groupby('order_year_month')['revenue'].sum()

# Print the result
print(revenue_by_year_month)

order_year_month
2003-01    116692.77
2003-02    128403.64
2003-03    160517.14
2003-04    185848.59
2003-05    179435.55
2003-06    150470.77
2003-07    201940.36
2003-08    178257.11
2003-09    236697.85
2003-10    429527.28
2003-11    988025.15
2003-12    180930.50
Freq: M, Name: revenue, dtype: float64

# Forecast

In [34]:
# Get the last observed value
last_observed_value = revenue_by_year_month.iloc[-1]

# Generate forecast for the next 3 months by repeating the last observed value
forecast_index = pd.date_range(start=revenue_by_year_month.index[-1].to_timestamp(), periods=3, freq='M')
forecast = pd.Series(last_observed_value, index=forecast_index)

# Print the forecast
print("Forecast for next 3 months:")
print(forecast)

Forecast for next 3 months:
2003-12-31    180930.5
2004-01-31    180930.5
2004-02-29    180930.5
Freq: M, dtype: float64

# Regression